@model ContactFormViewModel

<form method="post" id="contact-form">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" id="Email" name="Email" value="@Model.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Message">Message</label>
        <textarea id="Message" name="Message" class="form-control">@Model.Message</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>